<main class="main">
    <mat-drawer-container class="container" [hasBackdrop]="false">
        <mat-drawer mode="over" [opened]="sideNavOpened" class="drawer" [style.background-color]="'rgba(255, 108, 17, 0.75)'">
          <div class="sidenav-container">
            <div class="sidenav-content">
              <p (click)="handleSettingsButton()">Všeobecné</p>
              <p >Moje petície</p>
              <p (click)="handleMyArticlesButton()">Moje aktuality</p>
              <p (click)="handleMySurveysButton()">Moje prieskumy</p>
              <p (click)="handleLogoutButton()">Odhlásiť sa</p>
            </div>
            <mat-icon aria-hidden="false" aria-label="Close Drawer" fontIcon="arrow_forward_ios" (click)="closeSideNav()"></mat-icon>
          </div>
        </mat-drawer>
        <mat-drawer-content>
          <app-header [(isLoggedIn)]="isLoggedIn" [logoClickFunction]="goToHomePageFunc"></app-header>
          <div *ngIf="!sideNavOpened" class="slide-wrapper">
            <mat-icon aria-hidden="false" aria-label="Open Drawer" fontIcon="arrow_forward_ios" (click)="openSideNav()"></mat-icon>
          </div>
        <section class="content">
        <div class="petitions-content">
          <div class="petitions-header">
            <h2 class="h2text">Moje petície</h2>
            <div class="tab-links">
              <a (click)="handleAllPetitionsButton()">Všetky</a> |
              <a (click)="handleActivePetitionsButton()">Prebiehajúce</a> |
              <a (click)="handleInactivePetitionsButton()">Ukončené</a>
            </div>
          </div>
      
          <div *ngIf="pagedPetitions.length > 0; else noPetitions">
            <mat-card *ngFor="let petition of pagedPetitions" class="petition-card">
              <mat-card-header>
                <mat-card-title>{{ petition.title }}</mat-card-title>
                <mat-card-subtitle>{{ petition.author }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <span class="petitions-numOfSignees">Počet podpísaných: {{ petition.numberOfSignees }}</span>
              </mat-card-content>
              <mat-card-actions align="end">
                <button mat-raised-button (click)="handleBtnClick(petition.id)">Detail</button>
                <button mat-raised-button>Export</button>
                <button mat-raised-button>{{petition.isActive ? "Ukončiť" : "Zverejniť"}}</button>
              </mat-card-actions>
            </mat-card>
          </div>
      
          <ng-template #noPetitions>
            <p>Žiadne petície nie sú k dispozícii.</p>
          </ng-template>
      
          <mat-paginator [length]="petitions.length"
                         [pageSize]="pageSize"
                         [pageSizeOptions]="[3, 5, 10]"
                         (page)="onPageChange($event)">
          </mat-paginator>
        </div>
    </section>
    </mat-drawer-content>
  </mat-drawer-container>
</main>

  