<div class="dahsboard-password-wrapper">
    <h2 mat-dialog-title>Zadaj heslo</h2>
    <mat-dialog-content>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" name="email" type="text"/>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Heslo</mat-label>
                <input matInput [(ngModel)]="password" name="password" type="password"/>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions [align]="'end'">
        <button mat-raised-button mat-dialog-close (click)="leave()">Odísť</button>
        <button mat-raised-button (click)="checkPassword()">Potvrdiť</button> 
    </mat-dialog-actions> 
</div>