.backdrop-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
    .spinner-wrapper{
        background-color: white;
        width: fit-content;
        padding: 2.5rem 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 10px;
        font-family: "Roboto";
    }
}