*{
    margin: 0;
    padding: 0;
    --mdc-protected-button-container-color: rgba(0, 0, 128, 0.8);
    --mdc-protected-button-label-text-color: white;
}

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: .25rem;
    align-items: center;
    justify-items: center;
    img{
        justify-self: left;
        width: 150px;
        height: 60px;
        margin-left: 3rem;
        margin-top: 1rem;
        @media screen and (max-width: 600px) {
            width: fit-content;
            margin-left: 1rem;
        }
        &:hover{
            cursor: pointer;
        }
    }
    h1{
        font-family: "Roboto", sans-serif;
        margin-right: 1rem;
    }
    button{
        margin-right: 2rem;
        justify-self: right;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    margin-top: 2rem;
    h2{
        text-align: center;
        margin-bottom: 1rem;
    }
    .user-card{
        border: 1px solid black;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin: 0 10%;
        margin-top: .5rem;
        .user-actions{
            display: flex;
            color: white;
            .approve{
                --mdc-fab-container-color: green;
                margin-right: .5rem;
            }
            .decline{
                --mdc-fab-container-color: red;
            }
        }
    }
}